{% extends "base.html" %}
{% block title %}
contact-us
{% endblock %}
{% block content %}
<!-- contact area -->
<div class="page-content bg-white">
    {% include "partials/inner_page_banner.html" with title="Contact Us" root="home" child="contact us"%}
    <div class="section-full content-inner bg-white contact-style-1">
        <div class="container">
            <div class="row">
                <!-- right part start -->
                <div class="col-lg-4 col-md-6 d-lg-flex d-md-flex">
                    <div class="p-a30 border m-b30 contact-area border-1 align-self-stretch radius-sm">
                        <h4 class="m-b10">Quick Contact</h4>
                        <p>If you have any questions simply use the following contact details.</p>
                        <ul class="no-margin">
                            <li class="icon-bx-wraper left m-b30">
                                <div class="icon-bx-xs border-1"> <a href="#" class="icon-cell"><i
                                            class="ti-location-pin"></i></a> </div>
                                <div class="icon-content">
                                    <h6 class="text-uppercase m-tb0 dez-tilte">Address:</h6>
                                    <p>Syria-lattakia-makha_almalki</p>
                                </div>
                            </li>
                            <li class="icon-bx-wraper left  m-b30">
                                <div class="icon-bx-xs border-1"> <a href="#" class="icon-cell"><i
                                            class="ti-email"></i></a>
                                </div>
                                <div class="icon-content">
                                    <h6 class="text-uppercase m-tb0 dez-tilte">Email:</h6>
                                    <p>ali1995askar@gmail.com/p>
                                </div>
                            </li>
                            <li class="icon-bx-wraper left">
                                <div class="icon-bx-xs border-1"> <a href="#" class="icon-cell"><i
                                            class="ti-mobile"></i></a> </div>
                                <div class="icon-content">
                                    <h6 class="text-uppercase m-tb0 dez-tilte">PHONE</h6>
                                    <p>+963 936771771</p>
                                </div>
                            </li>
                        </ul>
                        <div class="m-t20">
                            <ul class="dez-social-icon dez-social-icon-lg">
                                <li><a href="javascript:void(0);" class="fa fa-facebook bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-pinterest-p bg-primary"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-google-plus bg-primary"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- right part END -->
                <!-- Left part start -->
                <div class="col-lg-4 col-md-6">
                    <div class="p-a30 m-b30 radius-sm bg-gray clearfix">
                        <h4>Send Message Us</h4>
                        <div class="dzFormMsg"></div>
                        <form method="POST" class="dzForm">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        {{form.subject}}
                                        {% if form.subject.errors %}
                                        {% for error in form.subject.errors %}
                                        <li>
                                            <small class="form-text text-muted ">{{ error }}</small>
                                        </li>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        {{form.message}}
                                        {% if form.message.errors %}
                                        {% for error in form.message.errors %}
                                        <li>
                                            <small class="form-text text-muted ">{{ error }}</small>
                                        </li>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <button name="submit" type="submit" value="Submit"
                                        class="btn btn-primary radius-xl">
                                        <span>Submit</span> </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- Left part END -->
                <div class="col-lg-4 col-md-12 d-lg-flex m-b30">
                    <iframe
                        src="https://maps.google.com/maps?q=syria%20lattakia%20%D8%A7%D9%84%D9%85%D8%B4%D8%B1%D9%88%D8%B9%20%D8%A7%D9%84%D8%B3%D8%A7%D8%A8%D8%B9&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        class="align-self-stretch radius-sm" style="border:0; width:100%; min-height:350px;"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact area  END -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h6 class="text-muted">List Group</h6>
            <ul class="list-group">
                <li class="list-group-item"><i class="fas fa-plus text-info mx-2"></i>David Copperfield</li>
                <li class="list-group-item"><i class="fas fa-venus text-warning mx-2"></i>The Portrait of a Lady</li>
                <li class="list-group-item"><i class="fas fa-gavel text-danger mx-2"></i> The Trial</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}

<{% comment %} return Message.objects.filter(lab__acronym=self.kwargs['lab']) {% endcomment %}