{% extends "base.html" %}
{% load static %}
{% block title %}
job-details
{% endblock %}
{% block content %}
{% include "partials/inner_page_banner.html" with title="Job Details"  root=object.title child="details"%}
<div class="content-block">
    <div class="section-full bg-white browse-job content-inner-2">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <div class="post-job-bx">
                        <li>
                            <a href="#">
                                <div class="d-flex m-b30">
                                    <div class="job-post-company">
                                        <span>
                                            <i class="fa fa-building fa-4x"></i>
                                            {{object.title}}
                                        </span>
                                    </div>
                                    <div class="job-post-info">
                                        <h4>{{object.title}}</h4>
                                        <ul>
                                            <li><i class="fa fa-graduation-cap"></i>{{object.requiredEducationLevel}}
                                            </li>
                                            <li><i class="fa fa-clock-o"></i>{{object.requiredExperienceYears}}
                                                years of
                                                experience</li>
                                            <li><i class="fa fa-envelope"></i>{{object.company.email}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="{% url 'user:redirect' %}">
                                    <div class="d-flex">
                                        <div class="job-time mr-auto">
                                            <h5><i class="fa fa-check-circle"> </i> Suitable
                                                Users ( {{ suitable_users|length }} )</h5>
                                            {% for suitable_user in suitable_users%}
                                            <span>
                                                <i class="fa fa-check-circle">{{suitable_user.profile.fullName}} </i> -
                                                <i class="fa fa-mobile"></i>
                                                {{suitable_user.profile.tel}}
                                            </span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                                <span>
                                    <i class="post-like fa fa-check-circle"></i>
                                </span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}