{% extends "base.html" %}
{% block title %}
jobs-list
{% endblock %}
{% block content %}



<div class="content-block">
    {% include "partials/inner_page_banner.html" with title="Brouse Jobs" root="home" child="List of jobs "%}
    <div class="section-full bg-white browse-job content-inner-2">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <h5 class="widget-title font-weight-700 text-uppercase">({{results|length}}) Jobs in page
                        ({{current}})
                    </h5>
                    <ul class="post-job-bx" id="jobs_id_ul">
                        {% if results %}
                        {% for job in results %}
                        {% include "partials/job_card.html" %}
                        {% endfor %}
                        {% else %}
                        <h6 class="widget-title font-weight-700 text-uppercase">No Jobs to View</h6>
                        {% endif %}

                    </ul>
                    <div class="pagination-bx m-t30">
                        <ul class="pagination">
                            {% if previous%}
                            <li class="previous"><a href={{previous}}><i class="ti-arrow-left"></i> Prev</a></li>
                            {% endif %}
                            <li class="text-mu"><a href="#">{{current_page}}</a></li>

                            {% if next %}
                            <li class="next"><a href={{next}}>Next <i class="ti-arrow-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">

                    <form class="sticky-top" method="GET">
                        <div class="clearfix m-b40">
                            <h5>Order By</h5>
                            <h6 class="widget-title font-weight-700 text-uppercase">Experience Years</h6>
                            <div class="">
                                <select name="ordering" class="form-control">
                                    <option value="requiredExperienceYears">asc</option>
                                    <option value="-requiredExperienceYears">desc</option>
                                </select>
                            </div>
                        </div>

                        <div class="clearfix m-b20">
                            <h5>Filter By</h5>
                            <h6 class="widget-title font-weight-700 m-t0 text-uppercase">Education Level</h6>

                            <select name="requiredEducationLevel" id="RequiredEducationLeve_id" class="form-control">
                                <option value="">all</option>
                            </select>
                        </div>

                        <div class="clearfix m-t30 ">
                            <span class="input-group-btn">
                                <button value="filter" type="submit" id="filter_btn_id"
                                    class="site-button radius-xl">Filter</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<br>

{% endblock content %}

{% block extra_js %}

<script>

    $.ajax({
        url: "{% url 'diploma_api:diplomas-list' %}",
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function (result) {
            for (let i = 0; i < result.length; i++) {
                $('#RequiredEducationLeve_id').append(
                    `<option value="${result[i].id}"> ${result[i].diplomaTitle} </option>`);
            }
        }
    });
</script>

{% endblock extra_js%}

{% comment %}
<div class="pagination-bx m-t30">
    <ul class="pagination">
        <li class="previous"><a href="#"><i class="ti-arrow-left"></i> Prev</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li class="next"><a href="#">Next <i class="ti-arrow-right"></i></a></li>
    </ul>
</div>
<script>
    $.ajax({
        url: "{% url 'job_api:job-list' %}",
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function (result) {
            var row_data = "{% include 'partials/job_card.html' %}";
            for (let i = 0; i < result.count; i++) {
                $('#jobs_id_ul').append.innerHTML(row_data);
            }
            console.log(('#jobs_id_ul'));

        }
    });

    { { job } }& nbsp;& nbsp; |& nbsp;& nbsp; <a href="{% url 'job:update' job.id %}">update</a>
        & nbsp;& nbsp;|& nbsp;& nbsp; <a href="{% url 'job:delete'  job.id %}">delete</a>


    {% endcomment %}