{% extends "base.html" %}
{% load static %}
{% block title %}
post-job
{% endblock %}
{% block content %}

<div class="page-content bg-white">
    <!-- inner page banner -->
    {% include "partials/inner_page_banner.html" with title="Post Job" root="home" child="Job Form"%}

    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="section-full content-inner shop-account">
        <!-- Product -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="font-weight-700 m-t0 m-b20">Post a Job </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 m-b30">
                    <div class="p-a30 border-1  max-w500 m-auto">
                        <div class="tab-content">
                            <form id="login" class="tab-pane active" method="post">
                                {% csrf_token %}
                                <h4 class="font-weight-700">Job Information</h4>
                                <p class="font-weight-600">please Enter your job information</p>
                                <div class="form-group">
                                    <label class="font-weight-700">{{form.title.label}} *</label>
                                    {{form.title}}

                                </div>
                                <div class="form-group">
                                    <label class="font-weight-700">{{form.requiredEducationLevel.label}} *</label>
                                    {{form.requiredEducationLevel}}
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-700">{{form.requiredExperienceYears.label}} *</label>

                                    {{form.requiredExperienceYears}}
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-700">{{form.salary.label}} *</label>

                                    {{form.salary}}
                                </div>
                                <div class="text-left">
                                    <button type="submit" class="site-button button-lg">Post</button>

                                    <a href="{% url 'user:redirect' %}"
                                        class="site-button outline gray button-lg pull-right ">Back to DashBoard</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product END -->
    </div>
    <!-- contact area  END -->
</div>


{% endblock content %}